#root {
  height: 100vh;
  background-color: #111111;
  font-family: 'Merriweather', serif;
}

html{
  background-color: #111111;
}

a{
  color: white!important;
  text-decoration: none!important;
}

input{
  border: 1px solid #5b5b5b !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-icon{
  height: 50px!important;
  margin-left: 10px;
}

.login-image{
  padding: 3%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-row{
  position: relative;
  top: 70%;
}

.intial-login-btn{
  margin: 1%;
  padding: 3% !important;
  color: white !important;
  border: 2px solid white !important;
  font-size: 1.25em !important;
  font-weight: 600 !important;
}

.intial-login-btn:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
}

.btn-outline-primary:focus{
  box-shadow: 0 0 0 0.25rem #111111 !important;
}

.btn-outline-primary:active{
  background-color: black !important;
}

.btn-outline-primary{
  background-color: none !important;
  color: none !important;
  border-color: none !important;
}

/* .initial-login-form-container{
  text-align: center;
  background-color: rgba(47, 47, 47, 0.5);
  padding: 3%;
  border-radius: 15px;
  color: white;
  height: 40vh;
  position: absolute;
} */


.initial-login-form-container{
  text-align: center;
  padding: 3%;
  border-radius: 15px;
  color: white;
  height: 40vh;
  position: absolute;
  top: 5%;
  width: 25%;
  background-color: #ffffff;
  opacity: 1;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(45deg, #b3b4c5 0, #b3b4c5 0.6000000000000001px, #ffffff 0, #ffffff 50%);
}

.initial-login-form-container h3{
  color: #111111;
  font-weight: 700;
  margin-bottom: 10%;
}

.initial-login-form-container hr{
  color: #111111;
}



.initial-form{
  border-radius: 5px;
  padding: 5px;
  box-shadow: none; 
  border: 0;
  text-decoration: none;
}

.initial-form-btn{
  border-radius: 5px;
  padding: 15px;
  box-shadow: none; 
  border: 0;
  text-decoration: none;
  background-color: #282c34;
  color: white;
}
.form-exit{
  text-align: right;
  position: relative;
  top: -16px;
  cursor: pointer;
  color: #111111;
  font-weight: 800;
  font-size: 2em;
}
#register-box{
  display: none;
}
#login-box{
  display: none;
}

.nav{
  background-color: rgba(0,0,0,0.35);
  height: 60px;
  padding: 5px 10px;
}

.header{
  text-align: center;
  font-size: 4em;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 2%;
  padding-bottom: 1%;
  margin-top: 1%;
  letter-spacing: 8px;
  color: white;
  border-bottom: rgba(47, 47, 47, 0.9) 2px solid ;
}


.user-icon{
  text-align: center;
  color: white;
  height: 50px;
  width: 50px;
  background-color: black;
  border: 2px solid white;
  font-size: 2em;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.user-icon:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
  cursor: pointer;
}

.user-icon-menu-btn{
  margin: 1%;
  padding: 15px !important;
  color: white !important;
  border: 2px solid white !important;
  font-size: 1em !important;
  font-weight: 400 !important;
}

.user-icon-menu-btn:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
}

#user-icon-menu{
  display: none;
}

.user-icon-menu-visible{
  background-color: #282c34;
  opacity: 1;
  padding: 3%;
  border-radius: 0px 0px 15px 15px;
  color: white;
  height: 650px;
  position: absolute;
  right: 0px;
  display: block !important;
  cursor: pointer;
}

.user-icon-menu-contents{
  text-align: right;
}

.user{
 font-size: 1.5em;
 font-weight: 500;
}
.dashboard-box{
  height: 400px;
  border: rgb(45, 45, 45) 2px solid;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  border-radius: 15px;
  color: white;
}

.dashboard-content{
  text-align: center;
  font-size: 2em;
  position: relative;
  top: 45%;
}


@-webkit-keyframes letterspacing {
  50% {letter-spacing: 3px;}
}

@keyframes letterspacing {
  50% {letter-spacing: 3px;}
}

.dashboard-box:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
  cursor: pointer;
  animation: letterspacing 3s infinite;
}



.spelllist-cont{
  border:rgba(47, 47, 47, 0.9) 2px solid ;
  border-radius: 15px;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.spelllist-cont:hover{
  color: #111111 !important;
  background-color: #ffffff;
  opacity: 0.9;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(45deg, #b3b4c5 0, #b3b4c5 0.8px, #ffffff 0, #ffffff 50%);
  animation: letterspacing 2s infinite;
}

.selector-arrow{
  float: right;
}

.back-to-spellist{
  position: absolute;
  top: 80px;
  left: 20px;
  margin: 1%;
  padding: 15px !important;
  color: white !important;
  border: 2px solid white !important;
  font-size: 1em !important;
  font-weight: 400 !important;
  z-index: 10;
}

.back-to-spellist:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spell-image{
  height: 100px;
  position: relative;
}

.spell-outer{
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
  
    -webkit-animation: rotate-center 15s linear infinite both;
    animation: rotate-center 15s linear infinite both;
}
.spell-middle{
  -webkit-animation: rotate-center 10s linear infinite both;
  animation: rotate-center 10s linear infinite both;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.spell-inner{
  -webkit-animation: rotate-center 5s linear infinite both;
  animation: rotate-center 5s linear infinite both;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.spell-entry-container{
  position: relative;
  top: 300px;
  margin: 0 auto;
}

.entry-header{
  width: 100%;
  font-size: 4em;
  color: white;
  text-align: center;
  letter-spacing: 5px;
}
.spell-info-container {
  text-align: center;
}

.spell-entry-container hr{
  color: #e5e5f7
}

.spell-description{
  font-size: 2em;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 3%;
  font-weight: 300;
}

.to-learn-btn{
  margin: 1%;
  padding: 3% !important;
  color: white !important;
  border: 2px solid white !important;
  font-size: 1.25em !important;
  font-weight: 600 !important;
}

.to-learn-btn:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
}

.spell-learn-cont{
  border-top:rgba(47, 47, 47, 0.9) 2px solid ;
  border-bottom:rgba(47, 47, 47, 0.9) 2px solid ;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
}

.empty{
  font-size: 2em;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 3%;
  font-weight: 300;
  text-align: center;
}
.remove-btn{
  margin: 1%;
  color: white !important;
  border: 1px solid white !important;
  font-weight: 400 !important;
}

.remove-btn:hover{
  color: #111111 !important;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #e5e5f7  0, #e5e5f7  1px, #e5e5f7 0, #e5e5f7 50%);
}
@media screen and (max-width: 700px){
  .initial-login-form-container{
    width: 60%;
  }
}

@media screen and (min-width: 400px) and (max-width: 650px){
  .spell-outer{
    left: 27%;
  }
  .spell-middle{
    left: 27%;
  }
  .spell-inner{
    left: 27%;
  }
}

@media screen and (min-width: 651px) and (max-width: 844px){
  .spell-outer{
    left: 33%;
  }
  .spell-middle{
    left: 33%;
  }
  .spell-inner{
    left: 33%;
  }
}

@media screen and (min-width: 845px) and (max-width: 1000px){
  .spell-outer{
    left: 37%;
  }
  .spell-middle{
    left: 37%;
  }
  .spell-inner{
    left: 37%;
  }
}


@media screen and (min-width: 1001px) and (max-width: 1200px){
  .spell-outer{
    left: 39%;
  }
  .spell-middle{
    left: 39%;
  }
  .spell-inner{
    left: 39%;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
  .spell-outer{
    left: 40.5%;
  }
  .spell-middle{
    left: 40.5%;
  }
  .spell-inner{
    left: 40.5%;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1600px){
  .spell-outer{
    left: 41%;
  }
  .spell-middle{
    left: 41%;
  }
  .spell-inner{
    left: 41%;
  }
}


@media screen and (min-width: 1601px) and (max-width: 2000px){
  .spell-outer{
    left: 42%;
  }
  .spell-middle{
    left: 42%;
  }
  .spell-inner{
    left: 42%;
  }
}